/** 
 * Colors
 **/

* {
    background:     #24273a;
    background-alt: #363a4f;
    foreground:     #eff1f5;
    selected:       #df8e1d;
    active:         #ea76cb;
    urgent:         #F28FADFF;
    border:	    #e64553;
}
